@model ClientLourd.Models.Authentification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Authentification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pseudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pseudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDecideur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDecideur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
