@model ClientLourd.Models.Authentification

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
 

}

<h2>Details</h2>

<div>
    <h4>Authentification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Pseudo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pseudo)
        </dd>

        <dt>
            @Html.DisplayName("Mot de passe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdp)
        </dd>

        <dt>
            @Html.DisplayName("Nom")
        </dt>
        <dd>
          
           @{ if (Model.decideurCommune != null)
               {
            @Html.DisplayFor(model => model.decideurCommune.nom)
               }
               else if (Model.decideurGouvernorat != null)
               {
            @Html.DisplayFor(model => model.decideurGouvernorat.nom)
               }
               else { @Html.DisplayFor(model => model.adminOuMinitre.nom) } }
        </dd> 
        <dt>
            @Html.DisplayName("Prenom")
        </dt>
        <dd>

            @{ if (Model.decideurCommune != null)
                {
                    @Html.DisplayFor(model => model.decideurCommune.prenom)
                }
                else if (Model.decideurGouvernorat != null)
                {
                    @Html.DisplayFor(model => model.decideurGouvernorat.prenom)
                }
                else
                { @Html.DisplayFor(model => model.adminOuMinitre.prenom) } }
        </dd> 
        <dt>
            @Html.DisplayName("CIN")
        </dt>
        <dd>

            @{ if (Model.decideurCommune != null)
                {
                    @Html.DisplayFor(model => model.decideurCommune.cin)
                }
                else if (Model.decideurGouvernorat != null)
                {
                    @Html.DisplayFor(model => model.decideurGouvernorat.cin)
                }
                else
                { @Html.DisplayFor(model => model.adminOuMinitre.cin) } }
        </dd> 
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
