@model IEnumerable<ClientLourd.Models.Authentification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Pseudo")
            </th>
            <th>
                @Html.DisplayName("Mot de passe")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pseudo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mdp)
                </td>

                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
