@model IEnumerable<ClientLourd.Models.Authentification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pseudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mdp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDecideur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pseudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mdp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDecideur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
