@{
    Layout = "~/Views/Shared/decideur/ministre/_LayoutWeb.cshtml";
}
<section class="content-header">
    <h1>
        Dashboard
        <small>Budget Non realisé</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="row">

        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            @Html.Partial("~/Views/Ministre/bnr/dimArr.cshtml")
            @Html.Partial("~/Views/Ministre/bnr/dimCommune.cshtml")
            @Html.Partial("~/Views/Shared/decideur/tous/email.cshtml")

        </section>

        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
            @Html.Partial("~/Views/Ministre/bnr/dimGouv.cshtml")
            @Html.Partial("~/Views/Ministre/bnr/dimDate.cshtml")
            @Html.Partial("~/Views/Shared/decideur/tous/calender.cshtml")

            <!-- /.box -->
        </section>

    </div>


</section>
