@model ClientLourd.Models.DecideurCommune

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DecideurCommune</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.variable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.variable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
